.slick-slider {
position: relative;
display: block;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-ms-touch-action: pan-y;
touch-action: pan-y;
-webkit-tap-highlight-color: transparent;
}

.slick-list {
position: relative;
overflow: hidden;
display: block;
margin: 0;
padding: 0;
}

.slick-list:focus {
outline: none;
}

.slick-list.dragging {
cursor: pointer;
cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}

.slick-track {
position: relative;
left: 0;
top: 0;
display: block;
margin-left: auto;
margin-right: auto;
}

.slick-track:before, .slick-track:after {
content: "";
display: table;
}

.slick-track:after {
clear: both;
}

.slick-loading .slick-track {
visibility: hidden;
}

.slick-slide {
float: left;
height: 100%;
min-height: 1px;
display: none;
}

[dir="rtl"] .slick-slide {
float: right;
}

.slick-slide img {
display: block;
}

.slick-slide.slick-loading img {
display: none;
}

.slick-slide.dragging img {
pointer-events: none;
}

.slick-initialized .slick-slide {
display: block;
}

.slick-loading .slick-slide {
visibility: hidden;
}

.slick-vertical .slick-slide {
display: block;
height: auto;
border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
display: none;
}

@charset "UTF-8";

.slick-loading .slick-list {
background: #fff url("./ajax-loader.gif") center center no-repeat;
}

@font-face {
font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

.slick-prev,
.slick-next {
position: absolute;
display: block;
height: 20px;
width: 20px;
line-height: 0px;
font-size: 0px;
cursor: pointer;
background: transparent;
color: transparent;
top: 50%;
-webkit-transform: translate(0, -50%);
transform: translate(0, -50%);
padding: 0;
border: none;
outline: none;
}

.slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
outline: none;
background: transparent;
color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
opacity: 1;
}

.slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
opacity: 0.25;
}

.slick-prev:before,
  .slick-next:before {
font-family: "slick";
font-size: 20px;
line-height: 1;
color: white;
opacity: 0.75;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
left: -25px;
}

[dir="rtl"] .slick-prev {
left: auto;
right: -25px;
}

.slick-prev:before {
content: "←";
}

[dir="rtl"] .slick-prev:before {
content: "→";
}

.slick-next {
right: -25px;
}

[dir="rtl"] .slick-next {
left: -25px;
right: auto;
}

.slick-next:before {
content: "→";
}

[dir="rtl"] .slick-next:before {
content: "←";
}

.slick-dotted.slick-slider {
margin-bottom: 30px;
}

.slick-dots {
position: absolute;
bottom: -25px;
list-style: none;
display: block;
text-align: center;
padding: 0;
margin: 0;
width: 100%;
}

.slick-dots li {
position: relative;
display: inline-block;
height: 20px;
width: 20px;
margin: 0 5px;
padding: 0;
cursor: pointer;
}

.slick-dots li button {
border: 0;
background: transparent;
display: block;
height: 20px;
width: 20px;
outline: none;
line-height: 0px;
font-size: 0px;
color: transparent;
padding: 5px;
cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
opacity: 1;
}

.slick-dots li button:before {
position: absolute;
top: 0;
left: 0;
content: "•";
width: 20px;
height: 20px;
font-family: "slick";
font-size: 6px;
line-height: 20px;
text-align: center;
color: black;
opacity: 0.25;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
color: black;
opacity: 0.75;
}

#colorbox, #cboxOverlay, #cboxWrapper {
position: absolute;
top: 0;
left: 0;
z-index: 9999;
overflow: hidden;
-webkit-transform: translate3d(0, 0, 0);
}

#cboxWrapper {
max-width: none;
}

#cboxOverlay {
position: fixed;
width: 100%;
height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
clear: left;
}

#cboxContent {
position: relative;
}

#cboxLoadedContent {
overflow: auto;
-webkit-overflow-scrolling: touch;
}

#cboxTitle {
margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
cursor: pointer;
}

.cboxPhoto {
float: left;
margin: auto;
border: 0;
display: block;
max-width: none;
-ms-interpolation-mode: bicubic;
}

.cboxIframe {
width: 100%;
height: 100%;
display: block;
border: 0;
padding: 0;
margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
box-sizing: content-box;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
}

#cboxOverlay {
background: url(images/overlay.png) repeat 0 0;
opacity: 0.9;
filter: alpha(opacity=90);
}

#colorbox {
outline: 0;
}

#cboxTopLeft {
width: 21px;
height: 21px;
background: url(images/controls.png) no-repeat -101px 0;
}

#cboxTopRight {
width: 21px;
height: 21px;
background: url(images/controls.png) no-repeat -130px 0;
}

#cboxBottomLeft {
width: 21px;
height: 21px;
background: url(images/controls.png) no-repeat -101px -29px;
}

#cboxBottomRight {
width: 21px;
height: 21px;
background: url(images/controls.png) no-repeat -130px -29px;
}

#cboxMiddleLeft {
width: 21px;
background: url(images/controls.png) left top repeat-y;
}

#cboxMiddleRight {
width: 21px;
background: url(images/controls.png) right top repeat-y;
}

#cboxTopCenter {
height: 21px;
background: url(images/border.png) 0 0 repeat-x;
}

#cboxBottomCenter {
height: 21px;
background: url(images/border.png) 0 -29px repeat-x;
}

#cboxContent {
background: #fff;
overflow: hidden;
}

.cboxIframe {
background: #fff;
}

#cboxError {
padding: 50px;
border: 1px solid #ccc;
}

#cboxLoadedContent {
margin-bottom: 28px;
}

#cboxTitle {
position: absolute;
bottom: 4px;
left: 0;
text-align: center;
width: 100%;
color: #949494;
}

#cboxCurrent {
position: absolute;
bottom: 4px;
left: 58px;
color: #949494;
}

#cboxLoadingOverlay {
background: url(images/loading_background.png) no-repeat center center;
}

#cboxLoadingGraphic {
background: url(images/loading.gif) no-repeat center center;
}

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
border: 0;
padding: 0;
margin: 0;
overflow: visible;
width: auto;
background: none;
}

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
outline: 0;
}

#cboxSlideshow {
position: absolute;
bottom: 4px;
right: 30px;
color: #0092ef;
}

#cboxPrevious {
position: absolute;
bottom: 0;
left: 0;
background: url(images/controls.png) no-repeat -75px 0;
width: 25px;
height: 25px;
text-indent: -9999px;
}

#cboxPrevious:hover {
background-position: -75px -25px;
}

#cboxNext {
position: absolute;
bottom: 0;
left: 27px;
background: url(images/controls.png) no-repeat -50px 0;
width: 25px;
height: 25px;
text-indent: -9999px;
}

#cboxNext:hover {
background-position: -50px -25px;
}

#cboxClose {
position: absolute;
bottom: 0;
right: 0;
background: url(images/controls.png) no-repeat -25px 0;
width: 25px;
height: 25px;
text-indent: -9999px;
}

#cboxClose:hover {
background-position: -25px -25px;
}

.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

.close-btn {
color: red;
padding: 5px 10px;
border: 1px solid gray;
}

.wrap {
position: relative;
width: 150px;
height: 150px;
overflow: hidden;
}

.circle {
height: 100%;
-webkit-box-sizing: border-box;
box-sizing: border-box;
border: 20px solid red;
border-radius: 50%;
border-right-color: #1ac57e8a;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
border-bottom-color: #1ac57e8a;
}

.bottom {
position: absolute;
left: 0px;
width: 100%;
height: 50%;
-webkit-box-sizing: border-box;
box-sizing: border-box;
background: white;
bottom: 0px;
}

.count {
position: absolute;
left: 55px;
font-size: 30px;
color: gray;
z-index: 10;
top: 43px;
font-weight: 900;
}
